body{
background-color:mistyrose ;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

button{
    color: aqua;
    background-color: black;
    border-radius: 20px;
    margin-top: 10px;
    width: 13%;
}

button:hover{
    cursor: none;
    background-color: aqua;
    color: black;
    opacity: 50%;
    transition: 1s;
}

input{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 70%;
    border: solid 3px black;
}

.form{
    background-image : linear-gradient(125deg,dimgrey,silver,salmon ) ;
    text-align: center;
    height: 333px;
    padding: 70px;
    color: black;
    border-radius: 100px;
    border: solid 5px silver;
}

#taskDescription{
    border-radius: 12px;
    border: solid 3px black;
}